.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
}
.sidebar__chats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}
.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.sidebar__searchContainer > input {
    border:none;
    margin-left: 10px;
}
.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}
.sidebar__headerRigth{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vh;
}
.sidebar__headerRigth > .MuiSvgIcon-root{
    margin:2vh;
    font-size: 24px !important;
}